/* Insight Screen */
.insightHeader {
  font-family: 'caveat', cursive;
  color: #EBF4FA;
  opacity: 0.5;
}

.chartTitle {
  font-family: 'caveat', cursive;
  color: #EBF4FA;
  margin: 0;
  padding: 0;
}

.statSpan {
  color: #EBF4FA;
  opacity: 0.5;
}

.graphLid {
  background-color: #EBF4FA;
  height: 100%;
  width: 100%;
}

#colBorder {
  border-left: 1px solid rgb(235, 244,250,0.5);
}
