.subList {
  line-height: 2;
}

.niceLink {
  font-family: 'caveat', cursive;
}

.nameButtonRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aside.timestamp {
  color: #000;
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
